* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    height: 100%;
    width: 330px;
    position: relative;
}

input[type="checkbox"] {
    display: none;
}

.wrapper .menu-btn {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 45px;
    width: 45px;
    z-index: 999;
    cursor: pointer;
    color: #f2f2f2;
    background: #4a4a4a;
    border: 1px solid #333;
    border-radius: 5px;
    line-height: 45px;
    font-size: 23px;
    text-align: center;
    transition: all 0.3s ease;
}

#btn:checked~.menu-btn {
    border: 1px solid transparent;
    background: #f2f2f2;
    color: #333;
}

#btn:checked~#sidebar .title h2 {
    margin-left: 50px;
}

#btn:checked~#sidebar {
    left: 0;
}

#btn:checked~.menu-btn i::before {
    content: "\f00d";
}

.wrapper #sidebar {
    position: fixed;
    height: 100%;
    width: 270px;
    background: #404040;
    overflow: hidden;
    left: -270px;
    transition: all 0.3s ease;
}

#sidebar .title, h2 {
    color: #f2f2f2;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    background: #333;
    text-align: center;
}

#sidebar .list-items {
    position: relative;
    background: #404040;
    height: 100%;
    width: 100%;
    list-style: none;
}

#sidebar .list-items li {
    /* height: 50px;
    width: 100%; */
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
}

#sidebar .list-items li:hover {
    box-shadow: 0 0 10px 3px #222;
    border-top: 1px solid transparent;
    border-top: 1px solid transparent;

}

#sidebar .list-items li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
}

#sidebar .list-items li a i {
    margin-right: 20px;
}

#sidebar li a {
    color: #fff;
    text-decoration: none;
}

#sidebar .list-items .icons {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#sidebar .list-items .icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    line-height: 40px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    margin: 0 5px;
    transition: all 0.3s ease;
}

#sidebar .list-items .icons a:hover {
    transform: scale(1.1);
    border: 1px solid transparent;
    background: #f2f2f2;
    color: #404040;
}